@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family:"roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    color: #fff;
}

.header{
    position: relative;
    width: 100%;
    padding: 0px 25%;
    background: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}